    body{
        background-color: black;
        max-width: 100%;
    }


    .title{
        display: -webkit-inline-flex;
        margin-top: 40px;
    }

    #order-now-btn {
        background-color: #243B3B;
        margin: auto;
        border: 3px solid #243B3B;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px;
        text-align: right;
    }

    .extra-stuff #the-best{
    font-family: 'Knewave', cursive;
    font-size: 50px;
    color: orangered ;
    padding-left: 10px;
    }

    h1{
    margin-right: 40px;
    padding-left: 20px;
    margin-bottom: 0px;
    font-family: 'Knewave', cursive;
    color: rgb(255, 255, 255);
    }

    h2{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    }

    .chicken-shawarma{
    padding-left: 30px;
    padding-right: 40px;;
    
    }

    .beef-shawarma{
        padding-left: 70px;
        padding-right: 40px;;
        transform: translateX(80%);
    }

    .vegetarian-shawarma{
    padding-left: 30px;
    padding-right: 40px;
    
    }

    #chicken-shawarma-title{
    margin-bottom: 10px;
    }

    #beef-shawarma-title{
        margin-bottom: 10px;
    }

    #wrap{
        transform: translateX(-130%);
        padding-left: 0px;
        margin-left: 30px;
    }

    .item-three #beef{
        transform: translateX(-150%);
    }

    #vegetarian-shawarma-title{
    margin-bottom: 10px;
    }

    #chicken-shawarma-contents{
    color: rgb(247, 130, 84);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    }

    #beef-shawarma-contents{
        color: rgb(247, 130, 84);
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 10px;
        
    }

    #vegetarian-shawarma-contents{
    color: rgb(247, 130, 84);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    }

    #price{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Spartan', sans-serif;
    color: rgb(248, 248, 248);
    }

    .item-one{
    display: inline-flex;
    }
    .item-two{
    display: inline-flex;
    }
    .item-three{
    display: inline-flex;
    }

    #footnote{
    font-family: 'Patrick Hand', sans-serif;
    padding-left: 30px;
    color: rgb(252, 248, 246);
    }

    a:link {
        text-decoration: none; 
    }

    #wolfe img{
        image-rendering: auto;
        margin-top: 40px;
        max-height: 200px;
    }
