body{
    background-color: black;
}


.title{
    display: -webkit-inline-flex;
    margin-top: 40px;
}

h1{
    color: rgb(255, 255, 255);
    
}

#sohungry-logo{
    padding-right: 450px;
    padding-left: 10px;
    font-family: 'Knewave', cursive;
}

#order-now-btn {
    background-color: #243B3B;
    margin: auto;
    border: 3px solid #243B3B;
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
  }

.extra-stuff #the-best{
    font-family: 'Knewave', cursive;
    font-size: 50px;
    color: orangered ;
    padding-left: 10px;
}




